Babel==1.3
chardet==2.3.0
CherryPy==3.6.0
colorama==0.3.3
Genshi===0.8dev-r0
html5lib==0.999
isodate==0.5.1
language-selector==0.1
libgutenberg==0.1.6
lxml==3.4.2
netaddr==0.7.13
oauth==1.0.1
oauthlib==0.7.2
Pillow==2.7.0
psycopg2==2.6
pycurl==7.19.3
pygobject==3.12.0
pyparsing==2.0.3
python-apt===0.9.3.5ubuntu3
pytz==2014.10
qrcode==5.1
rdflib==4.1.2
recaptcha-client==1.0.6
regex==2014.12.24
repoze.lru==0.6
requests==2.7.0
requests-oauthlib==0.5.0
Routes==2.1
simplejson==3.6.5
six==1.9.0
SQLAlchemy==0.9.8
ufw===0.34-rc-0ubuntu2
unattended-upgrades==0.1
urllib3==1.10.1
adns===1.4-py1
command-not-found==0.3
