CherryPy==18.1.0
libgutenberg==0.1.6
requests==2.21.0
six==1.12.0
Babel==2.6.0
Genshi==0.7.1
netaddr==0.7.19
oauthlib==3.0.0
psycopg2==2.7.6.1
qrcode==6.1
regex==2018.11.22
requests_oauthlib==1.2.0
routes==2.4.1
SQLAlchemy==1.2.16
adns==1.4-py1
